/* user styles */
:root {
  --header-image: url('img/kira_imai_gif.gif');

  /* colors */
  --content: #43256E;
}

@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
}

@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
  font-style: italic;
  font-weight: bold;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  background-size: 600px;
  color: #2b1907;
  background-image: url('img/rose_letter.jpg');
}

* {
  box-sizing: border-box;
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat982.cur), auto !important;
}

/* below this line is CSS for the layout */

#container {
  max-width: 800px;
  margin: 0 auto;
}

aside a {
  color: #f2e4c4;
  font-weight: bold;
  text-decoration: none;
  border: #2b1907;
  background: url(img/chocolate.jpg);
  background-size: 25px;
  display: block;
  margin: 3px;
  position: relative;
  top: -8px;
  padding-left: 3px;
}

aside li {
  list-style-image: url(img/teacup.gif);
}


/* aside a:hover {
  background-color: ;
  color: ;
} */

#header {
  width: 100%;
  height: 150px;
  background-image: var(--header-image);
  background-size: 100%;
}

#flex {
  display: flex;
}

aside {
  background-image: url(img/heartgrid.gif);
  width: 210px;
  height: 400px;
  font-size: smaller;
  margin-right: 7px;
  margin-top: 7px;

  /* scalloped border */
  --r: 10px; /* radius of circles */
  aspect-ratio: 1;
  padding: calc(1.5*var(--r));
  mask:
    linear-gradient(#000 0 0) no-repeat
     50%/calc(100% - 2*var(--r)) calc(100% - 2*var(--r)),
    radial-gradient(farthest-side,#000 97%,#0000)
     0 0/calc(2*var(--r)) calc(2*var(--r)) round;
  border: #2b1907 5px;
}

iframe {
  width: 100%;
  height: 564px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  overflow: clip !important;
  border-width: 2px;
  border-style: inset;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: 0 0;
  border: none;
  border-radius: 0;
}

::-webkit-scrollbar-corner {
  background: 0 0;
}

::-webkit-scrollbar-thumb {
  background: #f7c4ed;
  border: 1px solid #353535;
  border-radius: 0;
}

main {
  /* parchment paper effect */
  background: radial-gradient(#fffef9 45%, #fff7e4);
  box-shadow: inset 0 0 15px #b39b70;
  flex: 1;
  padding: 20px;
  order: 2;
}

hr {
  display:block;
  border:0px;
  height:34px;
  background: url('img/flower_divider.png') no-repeat;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Italianno", serif;
  font-weight: 550;
  font-style: normal;
  color: black;
}

.jp-text {
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 35px;
}

strong {
  /* this styles bold text */
  color: #ED64F5;
}

/* CSS for extras */

#topBar {
  width: 100%;
  height: 30px;
  padding: 10px;
  font-size: smaller;
  background-color: #13092D;
}

@media only screen and (max-width: 800px) {
  #flex {
      flex-wrap: wrap;
  }

  aside {
      width: 100%;
  }

  main {
      width: 100%;;
  }
}